/* Carrito */
#cart-items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.total {
    text-align: center; /* Cambiado a centrado */
    margin-top: 20px;
}

#confirm-purchase {
    background-color: #25d366;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: block;
    margin: 20px auto; /* Centrar botón */
}

#confirm-purchase:hover {
    background-color: #1da851;
}
